.DS_STORE
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
examples
__mocks__
__tests__
.github
.prettierrc.js
.eslintrc
.eslintignore
.gitignore
.npmrc
tsconfig.json
rollup.config.js
babel.config.js
babel.rollup.config.js
src
index.ts
