.DS_STORE
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
examples
__mocks__
__tests__
.github
.prettierrc.js
.eslintrc.js
.eslintignore
.gitignore
.nvmrc
tsconfig.json
rollup.config.js
babel.config.js
babel.rollup.config.js
src
!dist/src
index.ts
