{
  "root": false,
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "React|react-native-segmented-picker"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "peerDependencies": true
      }
    ]
  }
}
